body,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
html {
  height: 100%;
}
body {
  min-width: 990px;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}
.f-cb:after,
.f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: ".";
}
.f-cb,
.f-cbli li {
  zoom: 1;
}
.g-page {
  width: 100%;
  height: 100%;
}
.g-top {
  width: 100%;
  height: 26%;
  background: #ff7f95 url(../img/m-top.png) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.g-top .m-top {
  width: 990px;
  height: 100%;
  margin: 0 auto;
}
.m-tit {
  width: 130px;
  height: 45px;
}
.p1 {
  background: url(../img/icon.png) 0 0;
  left: 46%;
  position: absolute;
  z-index: 999;
  bottom: 1%;
}
.g-line {
  display: block;
  width: 1232px;
  height: 564px;
  background: url(../img/line.png);
  background-size: 100% 100%;
  position: absolute;
  top: -18%;
  left: -32%;
  z-index: 0;
}
.g-main {
  width: 100%;
  height: 64%;
  background: url(../img/m-bg.png) center 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.g-main .g-wrap {
  width: 990px;
  height: 100%;
  margin: auto;
  position: relative;
}
.g-main .m-user {
  height: 18%;
  width: 550px;
  margin: 0 auto;
  background: url(../img/m-bg1.png) no-repeat;
  background-size: 100% 100%;
  color: #998b8e;
  font-size: 16px;
  font-family: '微软雅黑';
  margin-bottom: 1%;
  position: relative;
}
.g-main .m-user ul {
  padding: 3% 0 0 10%;
}
.g-main .m-user li {
  line-height: 25px;
}
.g-main .m-user i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: url(../img/icon.png) 0 -180px;
}
.g-main .m-user .tip {
  background: url(../img/icon.png) -20px -180px;
}
.g-main .m-user em {
  width: 60px;
  height: 50px;
  display: block;
  background: url(../img/line.png) -757px -158px;
  position: absolute;
  left: 40%;
  bottom: -30px;
  z-index: 1;
}
.g-main .g-con {
  height: 75%;
  width: 814px;
  margin: 0 auto;
  background: url(../img/m-bg2.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.g-main .g-con sub {
  display: block;
  width: 420px;
  height: 350px;
  background: url(../img/line.png) -277px -212px;
  position: absolute;
  left: -10%;
  top: 10px;
  z-index: 1;
}
.g-main .g-con .yun {
  width: 363px;
  height: 297px;
  background: url(../img/line.png) -873px 0px;
  position: absolute;
  left: 60%;
  top: -200px;
  z-index: 999;
}
.g-main .m-con {
  padding-top: 1%;
}
.g-main .m-con ul {
  color: #998b8e;
  font-size: 14px;
  font-family: '微软雅黑';
  line-height: 24px;
  margin-left: 6%;
  width: 100%;
  height: 40%;
  overflow: hidden;
  margin: 3% 0 3% 6%;
}
.g-main .m-con ul i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
  width: 18px;
  height: 15px;
}
.g-main .m-con .a {
  background: url(../img/icon.png) -50px -180px;
}
.g-main .m-con .b {
  background: url(../img/icon.png) -80px -180px;
}
.g-main .m-con .c {
  background: url(../img/icon.png) -110px -180px;
}
.g-main .m-con .d {
  background: url(../img/icon.png) -140px -180px;
}
.g-main .m-con .e {
  background: url(../img/icon.png) -170px -180px;
}
.g-main .m-con .f {
  background: url(../img/icon.png) -200px -180px;
}
.g-main .m-con .g {
  background: url(../img/icon.png) -230px -180px;
}
.g-main .p2 {
  background: url(../img/icon.png) 0 -60px;
  margin: 0 auto ;
}
.g-main .p3 {
  background: url(../img/icon.png) 0 -120px;
  margin: 0 auto ;
}
.g-main .m-tex,
.g-main .m-down {
  float: left;
}
.g-main .m-tex {
  width: 600px;
}
.g-main .m-tex em {
  display: inline-block;
  width: 64px;
  height: 15px;
  background: url(../img/icon.png) 0px -300px;
  vertical-align: middle;
}
.g-main .m-tex .s1 {
  background: url(../img/icon.png) -80px -300px;
}
.g-main .m-tex .s2 {
  background: url(../img/icon.png) -160px -300px;
}
.g-main .m-tex .m-circle {
  width: 108px;
  height: 108px;
  float: left;
  background: url(../img/icon.png) 0px -340px;
}
.g-main .m-tex .step2 {
  background: url(../img/icon.png) -130px -340px;
}
.g-main .m-tex .step3 {
  background: url(../img/icon.png) -260px -340px;
}
.g-main .m-tex .step4 {
  background: url(../img/icon.png) -390px -340px;
}
.g-main .m-tex .arr {
  margin: 45px 5px 5px;
  width: 20px;
  height: 20px;
  float: left;
  background: url(../img/icon.png) 0px -470px;
}
.g-main .m-down {
  width: 168px;
  z-index: 999;
  position: absolute;
  right: 25px;
  top: 100px;
}
.g-main .m-down img {
  margin-left: 35px;
}
.g-main .m-down a {
  display: block;
  width: 166px;
  height: 42px;
  background: url(../img/icon.png) -50px -220px;
  text-indent: -9999px;
  margin-top: 20px;
}
.g-main .m-arrow {
  position: absolute;
  left: 48%;
  bottom: 5px;
  cursor: pointer;
  width: 50px;
  height: 80px;
  overflow: hidden;
  z-index: 999;
}
.g-main .arrow {
  margin-top: 30px;
  -webkit-animation: slide 1s infinite linear;
  -moz-animation: slide 1s infinite linear;
  -o-animation: slide 1s infinite linear;
  animation: slide 1s infinite linear;
  cursor: pointer;
  background: url(../img/icon.png) -240px -220px;
  display: block;
  width: 48px;
  height: 22px;
}
.g-foot {
  width: 100%;
  height: 10%;
  background: #ff7f95;
  overflow: hidden;
}
.g-foot .m-foot {
  width: 990px;
  margin: auto;
}
.g-foot .m-ft a {
  display: block;
  width: 170px;
  height: 60px;
  text-indent: -9999px;
  float: left;
}
.g-foot .m-ft .help {
  background: url(../img/g-ft.png) 0 0;
}
.g-foot .m-ft .kf {
  background: url(../img/g-ft.png) 0 -70px;
  margin-left: 240px;
}
.g-foot .m-ft .gf {
  background: url(../img/g-ft.png) 0 -140px;
  margin-left: 240px;
}
